body {
    text-align: center;
    color: #fff;
    font-family: Lato;
    background-color: #611
}

#channelName {
    color: #fff;
    font-size: 48;
    font-weight: 400;
}

.odometer {
    font-size: 100;
}
