body {
    background-color: #290f0e;
    color: #fff;
    font-family: Lato
}

p {
    font-size: 18
}

.footer {
    display: inline-block;
    vertical-align: bottom;
    font-weight: 50
}

h1 {
    font-weight: 180;
    text-align: center
}

.docs-entry {
    font-size: 24;
    font-weight: 200;
    margin: 2% 2% 2% 2%
}

h2 {
    font-weight: 120;
    text-align: center;
    margin: 2% 2% 2% 2%
}

.title {
    text-align: center;
    animation: effect 1s;
    font-size: 48;
    font-weight: 800
}

@keyframes effect {
    from {font-size: 1}
    to {font-size: 48}
}